@import '@/styles/mixin.scss';
.container {
  @include flex-center;
  flex-direction: column;
  gap: 10px;
}

.button {
  @include flex-center;
  background-color: var(--ivory);
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;

  &:hover {
    background-color: var(--white);
    transform: scale(1.05);
  }

  .image_container {
    @include flex-center;
    overflow: hidden;

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @media (max-width: $Mobile) {
        width: 80%;
        height: 80%;
      }
    }
  }

  @media (max-width: $Mobile) {
    width: 6rem;
    height: 6rem;
  }
}

.title {
  font-size: 18px;
  color: var(--black);
  text-align: center;
  font-weight: 600;

  @media (max-width: $Mobile) {
    font-size: 14px;
  }
}
