@import '@/styles/mixin.scss';

.container {
  width: 100vw;
  height: 100vh;
  background-color: var(--black);
  @include flex-center;
  position: relative;
  overflow: hidden;

  @media (max-width: $Mobile) {
    height: 90vh;
  }
}

.window_container {
  padding-top: 60px;
  width: 70%;
  height: 75vh;
  background-color: var(--white);
  border-radius: 20px;
  position: relative;
  z-index: 10;

  @media (max-width: $Mobile) {
    width: 95%;
    height: 85%;
  }
}
