@import '@/styles/mixin.scss';

.container {
  width: 80%;
  background-color: #373737;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;

  @media (max-width: $Mobile) {
    width: 95%;
    height: auto;
  }
}

.icon_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;

  @media (max-width: $Mobile) {
    gap: 5px;
  }
}

.h2 {
  color: #b6b6b6;
  font-size: 28px;
  font-weight: 500;
  font-family: BlackHanSans;

  @media (max-width: $Mobile) {
    font-size: 18px;
    letter-spacing: -0.5px;
  }
}
