@import '@/styles/mixin.scss';

.container {
  padding: 0 50px;
  border-radius: 0 0 20px 20px;
  background-color: #232323;
  width: 100%;
  height: 100%;
  @include flex-center;
  position: relative;

  @media (max-width: $Mobile) {
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 10px 20px 10px;
  }
}

.title {
  position: absolute;
  top: 30px;
  left: 50px;
  font-size: 64px;
  font-family: BlackHanSans;
  color: var(--white);

  @media (max-width: $Mobile) {
    margin: 30px 0;
    font-size: 40px;
    position: static;
    text-align: center;
  }
}

.map {
  width: 100%;
  height: 70%;
  gap: 20px;
  flex-direction: column;
  @include flex-center;
  margin-top: 70px;
  padding-top: 300px;
  overflow-y: auto;

  @media (max-width: $Mobile) {
    justify-content: flex-start;
    height: 100%;
    margin-top: 0px;
    padding-top: 0px;
    overflow-y: auto;
  }
}

.map::-webkit-scrollbar {
  width: 8px;
}

.map::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.map::-webkit-scrollbar-thumb {
  background: #b6b6b6;
  border-radius: 10px;
}

.map::-webkit-scrollbar-thumb:hover {
  background: #b6b6b6;
}
