@import '@/styles/mixin.scss';

.container {
  border-radius: 50%;
  background-color: var(--white);
  @include flex-center;
  width: 200px;
  height: 200px;
  flex-direction: column;
  position: relative;
  color: var(--green);
  font-weight: 800;
  font-size: 24px;
  text-align: center;
  gap: 5px;

  .date {
    font-weight: 500;
    font-size: 20px;
  }

  @media (max-width: $Mobile) {
    width: 160px;
    height: 160px;
    font-size: 20px;

    .date {
      font-size: 16px;
    }
  }
}

.host {
  width: 200px;
  height: 200px;
  @include flex-center;
  position: absolute;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--white);
  border-radius: 50%;
  padding: 10px;
  transition: opacity 0.3s ease, background-color 0.3s ease;
  font-size: 20px;

  @media (max-width: $Mobile) {
    width: 160px;
    height: 160px;
    font-size: 16px;
  }
}

.container:hover .host {
  opacity: 1;
}
