@import '@/styles/mixin.scss';

.container {
  border-radius: 50%;
  background-color: var(--white);
  @include flex-center;
  width: 250px;
  height: 250px;
  flex-direction: column;
  position: relative;
  color: var(--green);
  font-weight: 800;
  font-size: 30px;
  gap: 5px;

  .date {
    font-weight: 500;
    font-size: 20px;
  }
}

.host {
  width: 250px;
  height: 250px;
  @include flex-center;
  position: absolute;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--white);
  border-radius: 50%;
  padding: 10px;
  transition: opacity 0.3s ease, background-color 0.3s ease;
  font-size: 24px;
}

.container:hover .host {
  opacity: 1;
}
