@import '@/styles/mixin.scss';

.container {
  border-radius: 0 0 20px 20px;
  background-color: var(--white);
  width: 100%;
  height: 100%;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  @media (max-width: $Mobile) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px 20px;
    gap: 0;
  }
}

.title {
  font-size: 64px;
  font-family: BlackHanSans;
  color: #1d3557;
  flex-shrink: 0;
  margin-top: 2rem;
  align-self: baseline;

  @media (max-width: $Mobile) {
    margin: 30px 0;
    font-size: 40px;
    position: static;
    align-self: auto;
    text-align: center;
  }
}

.activity {
  width: 70%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  padding-right: 10px;
  margin-bottom: 1rem;

  @media (max-width: $Mobile) {
    padding: 0;
    width: 100%;
    margin-top: 0;
  }
}

.activity::-webkit-scrollbar {
  width: 8px;
}

.activity::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.activity::-webkit-scrollbar-thumb {
  background: #0081a7;
  border-radius: 10px;
}

.activity::-webkit-scrollbar-thumb:hover {
  background: #0081a7;
}

.activity_item {
  padding: 15px;
  margin: 15px 0;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.07);
  background-color: #f8f8f8;
  width: 100%;
  @media (max-width: $Mobile) {
    width: 95%;
  }
}

.activity_div {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $Mobile) {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
}

.activity_name {
  font-weight: 600;
  font-size: 1.5rem;
  color: #0081a7;

  @media (max-width: $Mobile) {
    font-size: 1.2rem;
  }
}

.activity_period {
  color: #868686;
  margin-top: 5px;
  margin-bottom: 15px;

  @media (max-width: $Mobile) {
    font-size: 14px;
  }
}

.activity_description {
  color: #5e5e5e;
}

.activity_detail {
  width: 65%;
  color: #575757;

  @media (max-width: $Mobile) {
    width: 100%;
  }
}
