@import '@/styles/mixin.scss';

.container {
  width: 100%;
  height: 100%;
  padding: 4.5rem 1rem 1rem 4rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  @media (max-width: $Mobile) {
    padding: 5rem 0.5rem 1rem 1rem;
  }
}

.project_detail {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 4rem;

  @media (max-width: $Mobile) {
    padding-left: 5px;
    padding-right: 0;
  }
}

.project_detail::-webkit-scrollbar {
  width: 8px;
}

.project_detail::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.project_detail::-webkit-scrollbar-thumb {
  background: #eb7262;
  border-radius: 10px;
}

.project_detail::-webkit-scrollbar-thumb:hover {
  background: #eb7262;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  color: #eb7262;
  position: absolute;
  top: 2rem;
  left: 3rem;

  @media (max-width: $Mobile) {
    font-size: 2rem;
    left: 2rem;
    width: 60%;
  }
}

.description {
  font-size: 18px;
  margin-left: 5px;
  margin-bottom: 24px;
  line-height: 1.3;
  color: #2e1b1c;
  position: relative;
  padding-left: 20px;

  &::before {
    content: '＞';
    position: absolute;
    left: 0;
  }

  @media (max-width: $Mobile) {
    padding-left: 0;

    &::before {
      content: '';
    }
  }
}

.issue_description {
  font-size: 18px;
  margin-left: 5px;
  margin-bottom: 24px;
  line-height: 1.3;
  color: #2e1b1c;
}

.item_list {
  list-style-image: url('/icon/check.svg');
  margin-left: 5px;
  padding-left: 20px;
  display: block;
  justify-content: center;
}

.item {
  line-height: 1.5;
  font-size: 16px;
  display: list-item;
}

.subheading {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
  color: #56423e;
}

.message {
  text-align: center;
  color: #555;
  font-size: 14px;
  margin: 0.5rem 0 1.5rem;
}

.bar {
  border: 1px dashed #dcdcdc;
  margin: 1rem 0;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  margin-left: 5px;
  width: 100%;
}

.tech_button {
  width: auto;
  height: 2rem;
  padding: 5px 10px;
  background-color: #f3eed9;
  color: #eb7262;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background-color: #e4d8a6;
  }
}

.single_image_wrapper {
  position: relative;
  width: 100%;
  height: 200px;
  cursor: pointer;
}

.image {
  object-fit: contain;
}

.fullscreen_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.368);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.fullscreen_slider {
  width: 80%;
  height: 80%;
}

.fullscreen_image_container {
  position: relative;
  width: 100%;
  height: 100%;
}

.fullscreen_image {
  object-fit: contain;
}

.single_image_slider {
  margin-top: 10px;
  margin-bottom: 2rem;
}
