@import '@/styles/mixin.scss';

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 10px;
  margin: auto;
  height: 100%;

  @media (max-width: $Mobile) {
    padding: 0;
  }
}

.content {
  margin-top: 20px;
  padding: 10px;
  font-size: 18px;
  overflow-y: auto;
  height: 350px;
  display: flex;
  gap: 20px;
  flex-direction: column;

  @media (max-width: $Mobile) {
    padding: 5px;
    font-size: 16px;
  }
}

.content::-webkit-scrollbar {
  width: 8px;
}

.content::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.content::-webkit-scrollbar-thumb {
  background: var(--camel);
  border-radius: 10px;
}

.content::-webkit-scrollbar-thumb:hover {
  background: var(--camel);
}

.item {
  position: relative;
  padding-left: 30px;

  &::before {
    content: '✔️';
    position: absolute;
    left: 0;
  }
}
