@import '@/styles/mixin.scss';

.title {
  font-size: 30px;
  font-weight: 800;
  color: var(--camel);
  margin-top: 30px;
  @include drag-none;

  @media (max-width: $Mobile) {
    font-size: 24px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.container {
  background: var(--white);
  padding: 0 30px;
  border-radius: 10px;
  position: relative;
  width: 400px;
  height: 450px;

  @media (max-width: $Mobile) {
    width: 90%;
  }
}

.close_button {
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
}
