.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 30px;
  font-weight: 800;
  color: var(--camel);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.container {
  background: var(--white);
  padding: 30px;
  border-radius: 10px;
  position: relative;
  width: 30%;
  height: 550px;
}

.close_button {
  cursor: pointer;
}

.content {
  margin-top: 20px;
}
