.container {
  width: 120px;
  background-color: var(--white);
  border-top: 1px solid #c4c4c4;
  border-left: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
  position: absolute;
  top: 55px;
  right: 90px;
  flex-direction: column;
  z-index: 1000;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.dropdown_button {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #c4c4c4;
  cursor: pointer;
  transition: background-color 0.3s;
  gap: 10px;
  font-size: 18px;
  color: #000;
  background: none;
  text-decoration: none;

  &:hover {
    background-color: #f5f5f5;
  }
}

.first_button {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.last_button {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
