@import '@/styles/mixin.scss';

.container {
  border-radius: 0 0 20px 20px;
  background-color: #f3eed9;
  width: 100%;
  height: 100%;
  @include flex-center;
  flex-direction: column;
  padding: 0 50px;
  position: relative;

  @media (max-width: $Mobile) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
  }
}

.title {
  position: absolute;
  top: 30px;
  left: 50px;
  font-size: 64px;
  font-family: RixYeoljeongdo_Regular;
  color: #eb7262;

  @media (max-width: $Mobile) {
    margin: 30px 0;
    font-size: 40px;
    position: static;
    text-align: center;
  }
}

.card_container {
  margin-top: 10%;
  padding-right: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  overflow-y: auto;
  justify-content: center;
  height: 70%;

  @media (max-width: $Mobile) {
    width: 90%;
    margin-top: 0;
    margin-bottom: 10%;
    grid-template-columns: repeat(1, 1fr);
    height: 100%;
    padding-right: 0;
  }
}

.card_container::-webkit-scrollbar {
  width: 8px;
}

.card_container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.card_container::-webkit-scrollbar-thumb {
  background: #eb7262;
  border-radius: 10px;
}

.card_container::-webkit-scrollbar-thumb:hover {
  background: #eb7262;
}

.project_detail_container {
  .close_button {
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  z-index: 10;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
}
