@import './reset.css';
@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'S-CoreDream-3Light', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

:root {
  --black: #111322;
  --gray60: #606060;
  --gray50: #7d7986;
  --gray40: #a4a1aa;
  --gray30: #cbc9cf;
  --gray20: #e5e4e7;
  --gray10: #f2f2f3;
  --gray5: #fafafa;
  --white: #ffffff;
  --camel: #c19b60;
  --brown: #4f4538;
  --ivory: #b6a999;
  --lightgreen: #50b294;
  --green: #067c61;
  font-family: 'S-CoreDream-3Light', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--white);
}
